<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="css/conform.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <meta charset="utf-8">
  <style type="text/css">
  <!--
  p.msg { color:red; }
  -->
  </style>
  <title>エラー</title>
</head>
<body>
  <header>
    <p class="error"><b>エラーが発生しました。</b></p>
    <p class="msg">!message!</p>

    <form>
      <div class="to_top">
        <input class="submit" type="button" value="前画面に戻る" onclick="history.back()">
      </div>
    </form>
  </header>
</body>
</html>
